@import '../vars';
@import '../templates';
@import 'https://fonts.googleapis.com/css2?family=Pattaya&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header,
main,
footer {
  width: 100%;
}
.main {
  font-family: $fontPoppins;
  color: $colorBlack;
}

/* >1024px */
@media (min-width: 1024px) {
  .main__block {
    padding: 2vw 3vw;
    letter-spacing: 0.245em;
  }
  .subtitle {
    @include h2;
  }
  /* Хедер */
  .header {
    color: $colorWhite;
    background-color: $colorHeaderFooter;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 6.6vw;
    top: 0;
    padding: 1.1vw 3vw;
    .header__left {
      flex-basis: 25%;
      .header__name {
        font-family: $fontPattaya;
        font-size: 2.23vw;
      }
      .header__job {
        font-family: $fontPoppins;
        font-weight: bold;
        font-size: 1vw;
        padding-top: 0.5vw;
      }
    }
    .header__menu {
      flex-basis: 70%;
      display: flex;
      align-items: center;
      .header__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: none;
          color: $colorWhite;
          font-size: 1.1vw;
        }
      }
    }
  }
  /* Обо мне */
  .about {
    padding-top: 10vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    color: $colorWhite;
    background-color: $colorAbout;
    letter-spacing: 0.245em;
    display: flex;
    gap: 10vw;
    justify-content: center;
    .about-img {
      width: 20vw;
      height: 20vw;
      background: url(../../images/img_3038new.jpg);
      background-position-x: center;
      background-repeat: no-repeat;
      background-size: auto 30vw;
      border-radius: 50%;
      border: 2.5px solid $colorFrame;
    }
    .about__text {
      text-align: center;
      text-indent: 2vw;
      width: 45vw;
    }
    .story {
      padding-top: 3vw;
      line-height: 1.5vw;
      font-size: 1.2vw;
      font-weight: 400;
      letter-spacing: 0.1em;
    }
    // }
  }
  /* Основные услуги */
  .services {
    background-color: $colorWhite;
    .service {
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      padding: 2vw 5vw;
      gap: 3vw;
      .service__picture {
        img {
          max-width: 100%;
          max-height: 100%;
          border: 5px solid $colorFrame;
        }
      }
      .service__desc {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        .service__name {
          @include h3;
        }
        .service__text,
        .service__cost,
        .service__list {
          @include text;
        }
        .service__cost_bold {
          font-weight: 700;
        }
        .service__list {
          display: flex;
          flex-direction: column;
          list-style-position: inside;
          gap: 0, 5мц;
        }
        .service__button {
          padding: 0.5vw;
          border-radius: 1vw;
          border: none;
          background-color: $colorFrame;
        }
        .service__button:hover {
          cursor: pointer;
        }
      }
    }
    .service_reverse {
      grid-template-columns: 1fr 0.3fr;
    }
  }
  /* Пакетное предложение */
  .offer {
    background-color: $colorOffer;
    letter-spacing: 0.245em;
    .descriptionoffer {
      margin-top: 2vw;
      padding: 3vw;
      background-color: $colorWhite;
      .descriptiontitle {
        text-align: center;
        font-size: 1.5vw;
        line-height: 1.5vw;
        font-weight: 400;
      }
      .descriptionbody {
        padding: 2vw;
        font-size: 1.2vw;
        line-height: 1.5vw;
        font-weight: 400;
        text-align: left;
      }
    }
  }
  /* Бесплатная встреча */
  .free-advice {
    background-color: $colorFreeAdvice;
  }
  /* Запись на консультацию */
  .signup {
    color: $colorWhite;
    background-color: $colorSignUp;
    letter-spacing: 0.245em;
    height: 7vw;
    .signuptext {
      @include h2;
      display: flex;
      align-items: center;
    }
    display: flex;
    gap: 3vw;
    .signuplink {
      display: flex;
      align-items: center;
      gap: 1vw;
      :hover {
        filter: brightness(0.8);
      }
      .signuplinkimg {
        width: 2vw;
        height: 2vw;
      }
      .signuplinklink {
        font-size: 1.5vw;
        line-height: 1.5vw;
        font-weight: 500;
        text-decoration: none;
        color: $colorWhite;
      }
    }
  }
  /* Сертификаты */
  .sertificates {
    background-color: $colorWhite;
    .sertificates__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 20vw;
      place-items: center;
      padding: 2vw 5vw;
      column-gap: 5vw;
      .sertificates__img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
  }
  /* Футер */
  .footer {
    color: $colorWhite;
    background-color: $colorHeaderFooter;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.1vw 0;
    .footer__left {
      flex-basis: 42%;
      display: flex;
      justify-content: end;
    }
    .footer__right {
      flex-basis: 35%;
      display: flex;
      justify-content: start;
      gap: 3vw;
      .footer__media {
        width: 2vw;
        height: 2vw;
        :hover {
          filter: brightness(0.8);
        }
      }
    }
    .footer__name {
      font-family: $fontPoppins;
      font-size: 1.1vw;
    }
  }
}

/* 768-1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .main__block {
    padding: 2vw 5vw;
    letter-spacing: 0.2em;
  }
  .subtitle {
    @include h2-tablet;
  }
  /* Хедер */
  .header {
  }
  /* Обо мне */
  .about {
    color: $colorWhite;
    background-color: $colorAbout;
  }
  /* Основные услуги */
  .services {
    background-color: $colorWhite;
    .service {
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      padding: 2vw 0;
      gap: 3vw;
      .service__picture {
        img {
          max-width: 100%;
          max-height: 100%;
          border: 5px solid $colorFrame;
        }
      }
      .service__desc {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        .service__name {
          @include h3-tablet;
        }
        .service__text,
        .service__cost,
        .service__list {
          @include text-tablet;
        }
        .service__cost {
          line-height: 3vw;
        }
        .service__cost_bold {
          font-weight: 700;
        }
        .service__list {
          display: flex;
          flex-direction: column;
          list-style-position: inside;
          gap: 0.5vw;
        }
        .service__button {
          padding: 0.8vw;
          border-radius: 1vw;
          border: none;
          background-color: $colorFrame;
        }
        .service__button:hover {
          cursor: pointer;
        }
      }
    }
    .service_top {
      padding-top: 3vw;
    }
    .service_reverse {
      grid-template-columns: 1fr 0.4fr;
    }
  }
  /* Пакетное предложение */
  .offer {
    background-color: $colorOffer;
  }
  /* Бесплатная встреча */
  .free-advice {
    background-color: $colorFreeAdvice;
  }
  /* Запись на консультацию */
  .signup {
    color: $colorWhite;
    background-color: $colorSignUp;
  }
  /* Сертификаты */
  .sertificates {
    background-color: $colorWhite;
    .sertificates__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 25vw;
      place-items: center;
      padding: 3vw;
      column-gap: 5vw;
      .sertificates__img {
        max-height: 100%;
      }
    }
  }
  /* Футер */
  .footer {
  }
}

/* 320-767px */
@media (min-width: 320px) and (max-width: 767px) {
  .main__block {
    padding: 3vw 4vw;
    letter-spacing: 0.15em;
  }
  .subtitle {
    @include h2-mobile;
  }
  /* Хедер */
  .header {
  }
  /* Обо мне */
  .about {
    color: $colorWhite;
    background-color: $colorAbout;
  }
  /* Основные услуги */
  .services {
    background-color: $colorWhite;
    .service {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.6fr 1fr;
      padding: 2vw 0;
      gap: 3vw;
      .service__picture {
        display: flex;
        justify-content: flex-start;
        img {
          justify-self: center;
          max-width: 40%;
          max-height: 100%;
          border: 4px solid $colorFrame;
        }
      }
      .service__desc {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        .service__name {
          @include h3-mobile;
        }
        .service__text,
        .service__cost,
        .service__list {
          @include text-mobile;
        }
        .service__cost {
          line-height: 3vw;
        }
        .service__cost_bold {
          font-weight: 700;
        }
        .service__list {
          display: flex;
          flex-direction: column;
          list-style-position: inside;
          gap: 0.5vw;
        }
        .service__button {
          padding: 0.8vw;
          border-radius: 1vw;
          border: none;
          background-color: $colorFrame;
        }
        .service__button:hover {
          cursor: pointer;
        }
      }
    }
    .service_top {
      padding-top: 4vw;
    }
    .service_reverse {
      grid-template-rows: 0.6fr 1fr;
      justify-content: end;
      .service__desc_order {
        text-align: right;
        order: 2;
      }
      .service__picture_order {
        display: flex;
        justify-content: flex-end;
        order: 1;
      }
    }
    .service_long {
      grid-template-rows: 0.4fr 1fr;
    }
  }
  /* Пакетное предложение */
  .offer {
    background-color: $colorOffer;
  }
  /* Бесплатная встреча */
  .free-advice {
    background-color: $colorFreeAdvice;
  }
  /* Запись на консультацию */
  .signup {
    color: $colorWhite;
    background-color: $colorSignUp;
  }
  /* Сертификаты */
  .sertificates {
    background-color: $colorWhite;
    .sertificates__wrap {
      display: grid;
      grid-template-columns: minmax(300px, 0.6fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      padding: 3vw;
      column-gap: 5vw;
      .sertificates__img {
        max-width: 100%;
      }
    }
  }
  /* Футер */
  .footer {
  }
}
