@mixin image($position) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: $position;
}
@mixin h2 {
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 700;
}
@mixin h3 {
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 700;
}
@mixin text {
  font-size: 1.3vw;
  line-height: 1.5vw;
  font-weight: 400;
}
